<div class="container-fluid pl-5 pr-5">
	<h1><i><%= t('pages.about') %></i></h1>
	<hr/>
	<br/>

	<p>	Blog created in 2018, finally updated an deployed in 2019, - by 
	<%= link_to 'ks1venberg', href="https://github.com/ks1venberg" %>
	</p>
	<br/>
	<p>	Software stack used:</p>
		<ul>
			<li>Ruby 2.5.3</li>
			<li>Rails 5.2.2</li>
			<li>PostgreSQL 10.6 (gem pg 1.1.4)</li>
			<li>Bootstrap 4.3.1 with: Jquery, JS, CSS</li>
			<li>Main OS: Ubuntu 18.04 lts</li>
		</ul>
</div>